

*{
    padding: 0;
    margin: 0;
    color: darkred;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

p{
    color: green;
    padding: 20px;
    font-size: 32px;

}

p {
  color: cyan;
}

* {
  color: red;
}

p {
  color: green;
}

.highlight {
  color: red;
}

.board{
    margin: 32px;
    padding: 32px;
    font-size: 100px;
    margin-bottom: 100px;
    height: 600px;
    background-color: antiquewhite;
   border-radius: 20px; 
  text-align: center;  
}
h1{
    font-size: 32px;
}

h2{
   font-size: 32px; 
}
