.big{
    padding: 200px;
    margin: 500px;
    background-color: gray ;
    float: center;  
    border-radius: 20px;    
    border: 3px solid black;
}
 .middle{
    padding: -10px;
    margin: -180px;
   background-color: darkgray;
    border: 3px solid black;
    float: left;
    width: 470px;
    height: 355px;
 }

 .middle_1{
      padding: 90px;
      margin: -200px;
      background-color: darkgray;
      border: 3px solid black;
     float: right;
      width: 100px;
      height: 100px;
      scrollbar-width: 10px;
     
      
      
    
 }

 .small{
    padding: 10px;
    margin: 20px;
    background-color: aqua;
    border: 3px solid black;
    float: left;
    width: 400px;
    height: 130px;
 }
 
 .small_2{
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  border: 3px solid black;
  float: left;
  width: 400px;
  height: 110px;
 }